<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="data">
  <h2>Enwite</h2>
  <p>
  </p>
  <p>
    Have a look at the list of restaurants nearby you.
  </p>
  <ion-input placeholder="Restaurant name" (ionChange)="getRestaurantList(inputText.value)" #inputText></ion-input>
  <ion-card *ngFor="let card of restList">
    <img src="{{card.restaurant.featured_image}}" (click)="showDetails(card)"/>
    <ion-card-content onclick="showDetails(card)">
      <ion-card-title>
        {{card.restaurant.name}}
      </ion-card-title>
      <p>
        {{card.restaurant.cuisines}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
